In [1]:
pip install bs4 pandas

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Requirement already satisfied: pandas in /home/gori_alex/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: beautifulsoup4 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (from bs4) (4.11.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->bs4) (2.3.1)
Installing collected packages: bs4
Successfully installed bs4-0.0.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install requests

Requirement already satisfied: requests in /home/gori_alex/anaconda3/lib/python3.9/site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (from requests) (1.26.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [5]:
##EXTRACTION

def scrape_pages(start_page, end_page):
    base_url = 'https://www.buyrentkenya.com/houses-for-sale'
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
    }

    properties = []

    for page_num in range(start_page, end_page + 1):
        url = f'{base_url}?page={page_num}'  
        print(f"Scraping page {page_num}: {url}")
        response = requests.get(url, headers=headers)

        if response.status_code != 200:
            print(f"Failed to retrieve the page. Status code: {response.status_code}")
            continue  

        soup = BeautifulSoup(response.content, 'html.parser')

        listings = soup.find_all('div', class_='listing-card')  

        for listing in listings:
            # Extract title
            title_tag = listing.find('h2')
            title = title_tag.get_text(strip=True) if title_tag else 'No title'

            # Extract price
            price_tag = listing.find('p', class_='text-xl font-bold leading-7 text-grey-900')
            price = price_tag.get_text(strip=True) if price_tag else 'No price'

            # Extract location
            location_tag = listing.find('p', class_='ml-1 truncate text-sm font-normal capitalize text-grey-900')
            location = location_tag.get_text(strip=True) if location_tag else 'No location'

            # Swiper slides extraction (bedrooms, bathrooms, size)
            swiper_div = listing.find('div', class_='scrollable-list')
            bedrooms = bathrooms = size = 'N/A'
            if swiper_div:
                slides = swiper_div.find_all('div', class_='swiper-slide')
                for slide in slides:
                    text = slide.get_text(strip=True)
                    if 'Bedroom' in text:
                        bedrooms = text
                    elif 'Bathroom' in text:
                        bathrooms = text
                    elif 'm²' in text:
                        size = text

            # Append the data to the list
            properties.append({
                'Title': title,
                'Price': price,
                'Location': location,
                'Bedrooms': bedrooms,
                'Bathrooms': bathrooms,
                'Size': size
            })

    # Convert to DataFrame
    df = pd.DataFrame(properties)
    return df

In [6]:
df_all_pages = scrape_pages(start_page=1, end_page=4)

Scraping page 1: https://www.buyrentkenya.com/houses-for-sale?page=1
Failed to retrieve the page. Status code: 404
Scraping page 2: https://www.buyrentkenya.com/houses-for-sale?page=2
Scraping page 3: https://www.buyrentkenya.com/houses-for-sale?page=3
Scraping page 4: https://www.buyrentkenya.com/houses-for-sale?page=4

In [7]:
df_all_pages.head()

,Title,Price,Location,Bedrooms,Bathrooms,Size
0,4 Bed House with En Suite at Manyanja Road,"KSh 9,500,000",No location,4 Bedrooms,3 Bathrooms,225 m²
1,4 Bed Villa with En Suite in Westlands Area,"KSh 96,000,000",No location,4 Bedrooms,N/A,N/A
2,5 Bed Townhouse with En Suite in Lavington,"KSh 130,000,000",No location,5 Bedrooms,6 Bathrooms,N/A
3,4 Bed Townhouse with En Suite in Lavington,"KSh 38,000,000",No location,4 Bedrooms,4 Bathrooms,"0,13 m²"
4,6 Bed Townhouse with En Suite in Lavington,"KSh 150,000,000",No location,6 Bedrooms,6 Bathrooms,"0,25 m²"

In [8]:
df_all_pages.tail()

,Title,Price,Location,Bedrooms,Bathrooms,Size
70,4 Bed Townhouse with En Suite in Kitengela,"KSh 13,800,000",No location,4 Bedrooms,4 Bathrooms,N/A
71,4 Bed House with En Suite at Loresho,"KSh 90,000,000",No location,4 Bedrooms,4 Bathrooms,N/A
72,5 Bed Townhouse with Staff Quarters in Kileleshwa,"KSh 45,000,000",No location,5 Bedrooms,4 Bathrooms,N/A
73,3 Bed House with En Suite at Njumbi Road,"KSh 198,000,000",No location,3 Bedrooms,2 Bathrooms,N/A
74,5 Bed Villa with En Suite at Lavington Green,"KSh 75,000,000",No location,5 Bedrooms,5 Bathrooms,N/A

In [9]:
df_all_pages

,Title,Price,Location,Bedrooms,Bathrooms,Size
0,4 Bed House with En Suite at Manyanja Road,"KSh 9,500,000",No location,4 Bedrooms,3 Bathrooms,225 m²
1,4 Bed Villa with En Suite in Westlands Area,"KSh 96,000,000",No location,4 Bedrooms,N/A,N/A
2,5 Bed Townhouse with En Suite in Lavington,"KSh 130,000,000",No location,5 Bedrooms,6 Bathrooms,N/A
3,4 Bed Townhouse with En Suite in Lavington,"KSh 38,000,000",No location,4 Bedrooms,4 Bathrooms,"0,13 m²"
4,6 Bed Townhouse with En Suite in Lavington,"KSh 150,000,000",No location,6 Bedrooms,6 Bathrooms,"0,25 m²"
...,...,...,...,...,...,...
70,4 Bed Townhouse with En Suite in Kitengela,"KSh 13,800,000",No location,4 Bedrooms,4 Bathrooms,N/A
71,4 Bed House with En Suite at Loresho,"KSh 90,000,000",No location,4 Bedrooms,4 Bathrooms,N/A
72,5 Bed Townhouse with Staff Quarters in Kileleshwa,"KSh 45,000,000",No location,5 Bedrooms,4 Bathrooms,N/A
73,3 Bed House with En Suite at Njumbi Road,"KSh 198,000,000",No location,3 Bedrooms,2 Bathrooms,N/A
74,5 Bed Villa with En Suite at Lavington Green,"KSh 75,000,000",No location,5 Bedrooms,5 Bathrooms,N/A

In [10]:
df_all_pages.isnull().sum()

Title        0
Price        0
Location     0
Bedrooms     0
Bathrooms    0
Size         0
dtype: int64

In [11]:
df_all_pages.max()

Title        6 Bed Townhouse with En Suite in Lavington
Price                                    KSh 98,000,000
Location                                    No location
Bedrooms                                     6 Bedrooms
Bathrooms                                           N/A
Size                                                N/A
dtype: object

In [13]:
df_all_pages.min()

Title        2 Bed Townhouse with En Suite at Kinanda Road
Price                                      KSh 100,000,000
Location                                       No location
Bedrooms                                        2 Bedrooms
Bathrooms                                      2 Bathrooms
Size                                               0,13 m²
dtype: object

In [14]:
pip install psycopg2

Requirement already satisfied: psycopg2 in /home/gori_alex/anaconda3/lib/python3.9/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from sqlalchemy import create_engine

In [16]:
##engine = create_engine("postgresql://username:password@host:port/dbname")

engine = create_engine("postgresql://avnadmin:AVNS_48vsJneszjMN3o8p12m@pg-2db97889-gori-c720.j.aivencloud.com:10614/defaultdb")

In [18]:
df_all_pages.to_sql('House_prices',engine, if_exists= 'replace', index=False,schema='real_estate' )

75

In [ ]:
##TRANSFORMATION (DATA CLEANING)

In [19]:
df_all_pages

,Title,Price,Location,Bedrooms,Bathrooms,Size
0,4 Bed House with En Suite at Manyanja Road,"KSh 9,500,000",No location,4 Bedrooms,3 Bathrooms,225 m²
1,4 Bed Villa with En Suite in Westlands Area,"KSh 96,000,000",No location,4 Bedrooms,N/A,N/A
2,5 Bed Townhouse with En Suite in Lavington,"KSh 130,000,000",No location,5 Bedrooms,6 Bathrooms,N/A
3,4 Bed Townhouse with En Suite in Lavington,"KSh 38,000,000",No location,4 Bedrooms,4 Bathrooms,"0,13 m²"
4,6 Bed Townhouse with En Suite in Lavington,"KSh 150,000,000",No location,6 Bedrooms,6 Bathrooms,"0,25 m²"
...,...,...,...,...,...,...
70,4 Bed Townhouse with En Suite in Kitengela,"KSh 13,800,000",No location,4 Bedrooms,4 Bathrooms,N/A
71,4 Bed House with En Suite at Loresho,"KSh 90,000,000",No location,4 Bedrooms,4 Bathrooms,N/A
72,5 Bed Townhouse with Staff Quarters in Kileleshwa,"KSh 45,000,000",No location,5 Bedrooms,4 Bathrooms,N/A
73,3 Bed House with En Suite at Njumbi Road,"KSh 198,000,000",No location,3 Bedrooms,2 Bathrooms,N/A
74,5 Bed Villa with En Suite at Lavington Green,"KSh 75,000,000",No location,5 Bedrooms,5 Bathrooms,N/A

In [28]:
df_all_pages.drop('Location', axis=1, inplace=True)

In [33]:
def get_exact_location(text):
    words=str(text).split()
    return ' '.join(words[-2:])
df_all_pages['Location']=df_all_pages['Title'].apply(get_exact_location)

In [36]:
df_all_pages

,Title,Price,Bedrooms,Bathrooms,Size,Location
0,4 Bed House with En Suite at Manyanja Road,"KSh 9,500,000",4 Bedrooms,3 Bathrooms,225 m²,Manyanja Road
1,4 Bed Villa with En Suite in Westlands Area,"KSh 96,000,000",4 Bedrooms,N/A,N/A,Westlands Area
2,5 Bed Townhouse with En Suite in Lavington,"KSh 130,000,000",5 Bedrooms,6 Bathrooms,N/A,in Lavington
3,4 Bed Townhouse with En Suite in Lavington,"KSh 38,000,000",4 Bedrooms,4 Bathrooms,"0,13 m²",in Lavington
4,6 Bed Townhouse with En Suite in Lavington,"KSh 150,000,000",6 Bedrooms,6 Bathrooms,"0,25 m²",in Lavington
...,...,...,...,...,...,...
70,4 Bed Townhouse with En Suite in Kitengela,"KSh 13,800,000",4 Bedrooms,4 Bathrooms,N/A,in Kitengela
71,4 Bed House with En Suite at Loresho,"KSh 90,000,000",4 Bedrooms,4 Bathrooms,N/A,at Loresho
72,5 Bed Townhouse with Staff Quarters in Kileleshwa,"KSh 45,000,000",5 Bedrooms,4 Bathrooms,N/A,in Kileleshwa
73,3 Bed House with En Suite at Njumbi Road,"KSh 198,000,000",3 Bedrooms,2 Bathrooms,N/A,Njumbi Road
74,5 Bed Villa with En Suite at Lavington Green,"KSh 75,000,000",5 Bedrooms,5 Bathrooms,N/A,Lavington Green

In [38]:
df_all_pages['Price']=df_all_pages['Price'].str.replace('KSh ', '',case=False)

In [54]:
df_all_pages

,Title,Price,Bedrooms,Bathrooms,Size,Location
0,4 Bed House with En Suite at Manyanja Road,9500000,4 Bedrooms,3 Bathrooms,225 m²,Manyanja Road
1,4 Bed Villa with En Suite in Westlands Area,96000000,4 Bedrooms,N/A,N/A,Westlands Area
2,5 Bed Townhouse with En Suite in Lavington,130000000,5 Bedrooms,6 Bathrooms,N/A,in Lavington
3,4 Bed Townhouse with En Suite in Lavington,38000000,4 Bedrooms,4 Bathrooms,"0,13 m²",in Lavington
4,6 Bed Townhouse with En Suite in Lavington,150000000,6 Bedrooms,6 Bathrooms,"0,25 m²",in Lavington
...,...,...,...,...,...,...
70,4 Bed Townhouse with En Suite in Kitengela,13800000,4 Bedrooms,4 Bathrooms,N/A,in Kitengela
71,4 Bed House with En Suite at Loresho,90000000,4 Bedrooms,4 Bathrooms,N/A,at Loresho
72,5 Bed Townhouse with Staff Quarters in Kileleshwa,45000000,5 Bedrooms,4 Bathrooms,N/A,in Kileleshwa
73,3 Bed House with En Suite at Njumbi Road,198000000,3 Bedrooms,2 Bathrooms,N/A,Njumbi Road
74,5 Bed Villa with En Suite at Lavington Green,75000000,5 Bedrooms,5 Bathrooms,N/A,Lavington Green

In [53]:
df_all_pages['Price']=df_all_pages['Price'].replace ({',':''}, regex =True).astype(int)

In [55]:
df_all_pages.to_sql('House_prices',engine,if_exists='replace',index=False, schema='real_estate')

75

In [59]:
df_all_pages

,Title,Price,Bedrooms,Bathrooms,Size,Location
0,4 Bed House with En Suite at Manyanja Road,9500000,4 Bedrooms,3 Bathrooms,225 m²,Manyanja Road
1,4 Bed Villa with En Suite in Westlands Area,96000000,4 Bedrooms,N/A,N/A,Westlands Area
2,5 Bed Townhouse with En Suite in Lavington,130000000,5 Bedrooms,6 Bathrooms,N/A,in Lavington
3,4 Bed Townhouse with En Suite in Lavington,38000000,4 Bedrooms,4 Bathrooms,"0,13 m²",in Lavington
4,6 Bed Townhouse with En Suite in Lavington,150000000,6 Bedrooms,6 Bathrooms,"0,25 m²",in Lavington
...,...,...,...,...,...,...
70,4 Bed Townhouse with En Suite in Kitengela,13800000,4 Bedrooms,4 Bathrooms,N/A,in Kitengela
71,4 Bed House with En Suite at Loresho,90000000,4 Bedrooms,4 Bathrooms,N/A,at Loresho
72,5 Bed Townhouse with Staff Quarters in Kileleshwa,45000000,5 Bedrooms,4 Bathrooms,N/A,in Kileleshwa
73,3 Bed House with En Suite at Njumbi Road,198000000,3 Bedrooms,2 Bathrooms,N/A,Njumbi Road
74,5 Bed Villa with En Suite at Lavington Green,75000000,5 Bedrooms,5 Bathrooms,N/A,Lavington Green

In [ ]:
##LOADING TO DATABASE
df_all_pages.to_sql('House_prices',engine,if_exists='replace',index=False, schema='real_estate')